@keyframes blink { 50% { background-color: #B5E1FB; color: #000 } }

.flash {
	animation: blink ease-in-out 0.7s;
	animation-iteration-count: 1;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

.no-padding {
	padding: 0px !important;
}

/* Menu on top */
.menu {
  margin-top: 0px !important;
}

.mopub-menu {
	background: #14171a !important;
	box-shadow: 0 2px 5px rgba(0,0,0,.35) !important;
}

/* Bar Loader */
#loader-bar {
  box-shadow: 0 2px 4px rgba(0,0,0,.35) !important;
  border-radius: 0em !important;
}

.ui.progress.success .bar {
  background-color: red !important;
}

.no-radius {
	border-radius: 0px !important;
}

/* Content Wrapper */
.all-content-wrapper {
	margin-top: 2rem !important;
}

/* AdUnit Info Labels */
.mopub-label-title {
	width: 80px;
}

.mopub-label-title-longer {
	width: 120px;
}

.mopub-color {
	background-color: #1da1f2 !important;
	border-color: #1da1f2 !important;
	color: #FFFFFF !important;
}

.mopub-label-color {
	/* background-color: #1da1f2 !important; */
	/* border-color: #1da1f2 !important; */
	/* color: #FFFFFF !important; */
	/* background-color: transparent !important; */
	/* border-color: #1da1f2 !important; */
	/* color: black !important; */
}

.mopub-label-radius {
	padding: 0.4rem !important;
	border-radius: 1.6rem !important;
}

.mopub-label-value {
	margin-left: 10px;
}

.adunit-header {
	margin-left: 10px;
}

/* Button Color Override */
.mopub-button-color {
	background-color: #1da1f2 !important;
	color: #FFFFFF !important;	
	font-weight: bold !important;
	box-shadow: none !important;
	border: 1px solid #1da1f2 !important;
}

.mopub-button-color:hover {
	background-color: #1a91da !important;
	border-color: #1a91da !important;
	color: #fff !important;
}

/* Button Radius */
.mopub-button-radius {
	border-radius: 1.6rem !important;
}

/* Search Input */
.mopub-input-search {
	border-radius: 1.6rem !important;
	/* border: 1px solid #657786 !important; */
	/* color: #657786 !important; */
	/* font-weight: bold !important; */
	/* box-shadow: none !important; */
}

/* Mopub Operation Button Color Override */
.mopub-ops-button-color {
	background-color: #fff !important;
	border: 1px solid #657786 !important;
	color: #657786 !important;
	font-weight: bold !important;
	box-shadow: none !important;
}

.mopub-ops-button-color:hover {
	background-color: #f0f1f3 !important;
	border-color: #657786 !important;
	color: #657786 !important;
}

/* Mopub basic Button Color Override */
.mopub-basic-button-color {
	background-color: #fff !important;
	border: 1px solid #1da1f2 !important;
	color: #1da1f2 !important;
	font-weight: bold !important;
	box-shadow: none !important;
}

.mopub-basic-button-color:hover {
	background-color: #f0f1f3 !important;
	border-color: #1da1f2 !important;
	color: #1da1f2 !important;
}

/* Tabulator */
.tabulator {
	font-size: 12px;
}

.tabulator-group-toggle {
	float: left; /* To have the arrow on the right for grouping */
}

.tabulator .tabulator-header {
	color: #657786 !important;
}

.tabulator-col.tabulator-sortable {
	border-width: 1px;
	border-color: #e4e5e5;
	border-right-style: solid;
}

/* Row Handle Bar */
.tabulator-row .tabulator-cell.tabulator-row-handle {
	height: 100% !important;
	vertical-align: top !important;
}

.tabulator-unselectable {
	pointer-events: none !important;
	color: #D0D0D0 !important;
}

.tabulator input[type='checkbox'] { 
	position: relative;
	cursor: pointer;
}

.tabulator input[type='checkbox']:before { 
	/* border: 1px solid #D4D4D5; */
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	border: 1px solid rgba(34, 36, 38, 0.35);
	border-radius: 3px;
	background-color: white;
}

.tabulator input[type='checkbox']:checked:after { 
	content: "";
	display: block;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 2px;
	left: 6px;
}

.tabulator .tabulator-unselectable input[type='checkbox']:before { 
	content: "";
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	border: 1px solid #E7E7E7;
	border-radius: 3px;
	background-color: white;
}

.tabulator-row.tabulator-selectable:hover {
	background-color: #eaf5fd !important;
}

/* Cell Edit */
.tabulator-row .tabulator-cell.tabulator-editing {
  border: 0.1em solid #1da1f2;
	border-radius: 5px;
}
.editable-cell:hover {
  border: 0.1em solid #1da1f2;
	border-radius: 5px;
	box-shadow: 0 0 0.5pt 0.5pt #1da1f2;
}
.editable-cell input:focus {
	outline: none !important;
}

/* Tabulator Footer Override */
.tabulator-footer {
	height: 4.5em !important;
}

/* Circle Loader */
.ui.inverted.dimmer .ui.loader:after {
	/* border-color: #1da1f2 #1da1f2 transparent !important; */
	border-color: #1da1f2 transparent transparent !important;
}

.ui.inverted.dimmer .ui.loader:before {
	/* border-color: rgba(0, 0, 0, 0) !important; */
	border-color: rgb(210, 233, 250) !important;
}

/* UI Update Loader */
.update-loader {
	top: 300px !important;
}

/* header inside the table, json formatter */
.cell-header {
	color: #657786;
	text-transform: capitalize !important;
	margin-right: 0.4em;
}
.cell-format-value {
	font-weight: 500;
}

.less-padding-label {
	padding: 4.5px !important;
	margin: 1px !important;
}

/* Notification Success LineItem */
.update-success-lineitem {
	color: green !important;
}

/* Notification Fail LineItem */
.update-fail-lineitem {
	color: red !important;
}

/* Adunit list when duplicate (copy modal) */
.customSuggestionsList {
	width: 100% !important;
}

/* Capitalize Text */
.capitalize {
	text-transform: capitalize !important;
}

/* CPM Label Styling */
.cpm-label {
	padding: 0.35em !important;
	min-width: 50px !important;
	color: unset !important;
	text-align: right !important;
}

/* table line item */
.lineitem-name {
	/* color: #1da1f2; */
	font-weight: bold;
}

.lineitem-ordername {
	color: #657786;
}

.lineitem-networktype {
	color: #657786;
}

/* Item Count in Table footer */
.count-orders {
	float: left;
	padding-right: 10px;
	font-weight: bold;
}
.count-lineitems {
	float: left;
	padding-right: 10px;
	font-weight: bold;
}
.count-waterfall-items {
	float: left;
	padding-right: 10px;
	font-weight: bold;
}

/* Import Instruction */
.import-instruction {
	color: #1da1f2;
	cursor: default;
}
.import-instruction:hover {
	text-decoration: underline;
	cursor: default;
}

/* Changes Pre Tag */
.change-pre {
	/* width: 30em; */
	padding: 15px;
	background: aliceblue;
}

/* Log in the menu */
.mopub-logo-menu {
	overflow: hidden;
	background: url(/img/main_mopug_logo.svg) 0 no-repeat;
	width: 80px;
	height: 29px;
	margin-left: 8px;
}

/* Logged in as label */
.logged-in-label {
  margin-right: 1em !important;
  margin-left: 0.5em !important;
	padding: 0.4em !important;
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.logged-in-account {
	font-weight: bold;
	font-size: 1.1em !important;
	word-break: break-all;
	/* width: 238px; */
}
.logged-in-account-desc {
	font-weight: normal;
	font-size: 0.8em !important;
	color: gray;
	margin-top: 5px;
}

/* Show/Hide line item button */
.toggle-line-item-bar {
	font-size: 1.5em !important;
}
.toggle-line-item-bar:hover {
	color: #1da1f2;
}

/* For version label */
.mopub-color-label {
	background-color: #1da1f2 !important;
	border-color: #1da1f2 !important;
	margin: 0px !important;
}

/* for adunit list in main menu */
.adunit-select.dropdown > .search {
	height: 100% !important;
}
.adunit-select.dropdown {
	font-size: 1.2em; 
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}
.adunit-select > .text {
	vertical-align: -webkit-baseline-middle !important;
}
ios {
	width: 30px !important;
	padding: 4px !important;
	font-size: 0.7rem !important;
	text-align: center !important;
	margin-right: 5px !important;
	background-color: #1da1f2 !important;
	border-color: #1da1f2 !important;

	background-color: #e8e8e8;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	/* margin: 0.14285714em; */
	background-image: none;
	padding: .5833em .833em;
	color: rgba(0,0,0,.6);
	text-transform: none;
	font-weight: 700;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
	color: #fff!important;
}
aos {
	width: 30px !important;
	padding: 4px !important;
	font-size: 0.7rem !important;
	text-align: center !important;
	margin-right: 5px !important;
	background-color: #f2711c !important;
	border-color: #f2711c !important;

	background-color: #e8e8e8;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	/* margin: 0.14285714em; */
	background-image: none;
	padding: .5833em .833em;
	color: rgba(0,0,0,.6);
	text-transform: none;
	font-weight: 700;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
	color: #fff!important;
}
unitformat {
	padding: 4px !important;
	font-size: 0.7rem !important;
	text-align: center !important;
	/* margin-right: 5px !important; */
	background-color: #767676 !important;
	border-color: #767676 !important;

	background-color: #e8e8e8;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	/* margin: 0.14285714em; */
	background-image: none;
	padding: .5833em .833em;
	color: rgba(0,0,0,.6);
	text-transform: none;
	font-weight: 700;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
	color: #fff!important;
}
appname {
	font-size: 0.9em !important;
	margin-right: 5px !important;
  color: gray !important;
}
unitname {
	/* color: #1da1f2 !important; */
	font-size: 0.9em !important;
	font-weight: bold !important;
	margin-right: 5px !important;
}
unitkey {
	display: none !important;
}
unitstatusactive {
	margin-right: 5px !important;
  font-size: .6rem;
  display: inline-block !important;
  margin: 0.14285714em;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  transition: background .1s ease;
  background-color: #21ba45!important;
  border-color: #21ba45!important;
  color: #fff!important;
  padding: .5em!important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: .5em;
  height: .5em;
  vertical-align: middle !important;
}
unitstatusinactive {
	margin-right: 5px !important;
  font-size: .6rem;
  display: inline-block !important;
  margin: 0.14285714em;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  transition: background .1s ease;
  background-color: #767676!important;
  border-color: #767676!important;
  color: #fff!important;
  padding: .5em!important;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: .5em;
  height: .5em;
  vertical-align: middle !important;
}

/* Footer */
.page-footer {
	text-align: center;
	color: #657786; 
	padding: 0.6em;
	width: 100%;
	font-size: 1em;
}

/* Version number */
.wb-version {
	color: #1da1f2;
}

/* For footer */
.body-wrapper {
  min-height: calc(100vh - 30px);
}

/* no-margin-row */
.no-margin {
	margin: 0px !important;
}

/* overrideFied edit popup title */
.title-override-label {
	margin: 0px !important;
	background-color: #1da1f2 !important;
	border-color: #1da1f2 !important;
	margin-right: 10px !important;
	color: #FFFFFF !important;
}

/* add-network */
.add-network.mopub-basic-button-color {
	margin-top: 10px !important;
}

/* New line item badge */
.add-new:before {
	content: 'New';
	margin-top: 2.7em;
	margin-left: 0.1em;
	color: red;
	position: absolute;
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 2px;
	opacity: 0.8;
}
.add-new {
	background-color: #fff3f2;
}
.updated-row:before {
	content: 'Update';
	margin-top: 2.7em;
	margin-left: 0.1em;
	color: green;
	position: absolute;
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	padding-right: 0px;
}
.updated-row {
	background-color: #f3fff2;
}

/* number of changes */
.number-of-change {
	border: none !important;
	cursor: auto !important;
	background-color: white !important;
	/* color: black !important; */
	/* font-weight: normal !important; */
	font-size: 0.9em;
}

/* import export button */
.import-export {
	margin-right: 3px !important;
}

/* copy-only-selected-count */
.copy-only-selected-count {
	margin-left: 10px;
	color: #1da1f2;
	font-weight: bold;
}

/* export-only-selected-count */
.export-only-selected-count {
	margin-left: 5px;
	color: #1da1f2;
	font-weight: bold;
}

/* reload ad unit button */
.reload-adunit-button {
	padding: 0.4em !important;
	background: none !important;
	color: #1da1f2 !important;
	font-weight: normal !important;
} 
.reload-adunit-button:hover {
	text-decoration: underline !important;
} 

/* line item key link */
.lineitem-key-link {
	color: #657786 !important;
	text-decoration: none !important;
}
.lineitem-key-link:hover {
	color: #1da1f2 !important;
	text-decoration: underline !important;
}

/* ad unit id link in main page */
#info-adunit-id:hover {
	color: #1da1f2 !important;
	text-decoration: underline !important;
}

/* Column header height (give space at the bottom to adjust width easy) */
.tabulator .tabulator-header .tabulator-col {
	height: 55px;
}
